:root {
    --base: #FDF5ED;
    --tangerine: #F38B53;
    --pistachio: #ddeeec;
    --accent: #9C0D38;

    --headings: 'Montserrat', sans-serif; 
    --body: 'Hind', sans-serif;
}

/* Primary Styles */

html {
    background-color: var(--base);
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--headings);
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

p, a, li, form label, form input {
    font-family: var(--body);
    font-size: 1rem;
}

.button {
    box-sizing: border-box;

    background-color: var(--accent);
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.2rem;

    text-align: center;
    align-items: center;
    padding-top: 0.65rem;
    padding-bottom: 0.5rem;
    margin: 0;
} 

.button a {
    color: white;
    padding: 0rem;
    text-transform: uppercase;
    font-weight: 500;
}

.div-img {
    display: block;
    margin: 2rem auto;
    aspect-ratio: 5 / 1;
    width: 20rem;
    height: auto;
}

/* header */

header {
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo {
    aspect-ratio: 3 / 2;
    height: 10rem;
    width: auto;
    margin-top: -1rem;
}

nav {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    margin-left: 1rem;
}

nav a, nav a:visited {
    color: var(--accent);
    text-transform: uppercase;
    font-weight: 500;
}

nav a:hover, nav a:active {
    color: rgb(188, 77, 77);
}

header .button {
    position: relative;
    top: 1rem;
    right: 3rem;
}

/* footer */

footer {
    padding: 2rem;
    background-color: var(--tangerine);
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer div, #copyright {
    width: 33%;
}

footer div p:first-child {
    font-weight: 500;
}

#copyright {
    text-align: center;
}

#socials {
    text-align: end;
}

#socials img {
    aspect-ratio: 1 / 1;
    width: 1.5rem;
    height: auto;
    margin-left: 1rem;
}

/* home page */

.hero {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
}

.hero h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: white;
    text-shadow: black 2px 2px 10px;
    z-index: 1;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: auto;

    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.cta-block {
    padding: 3rem; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-block p {
    font-size: 1.5rem;
    text-align: center;
}

.ride-sum {
    display: flex;
    flex-direction: column;
    width: clamp(280px, 50%, 600px);
    gap: 3rem;

    margin: 3rem auto;
}

.ride-sum h2 {
    text-align: center;
}

.ride-sum-block {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 15% 85%;
    gap: 1.5rem;
}

#home-page .ride-sum-block {
    grid-template-columns: 15% 85%;
}

.ride-sum-block h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    margin: 0;
    text-align: right;
}

.ride-sum-block h4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    margin: 0;
}

.ride-sum-block img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
}

.ride-sum-block p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
}

.weather {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    
}

.weather h2 {
    width: 50%;
    text-align: center;
}

.weather-card {
    background-color: var(--accent);
    color: white;

    border-radius: 0.25rem;
    width: 40%;
    padding: 2rem;
}


/* rentals page */

.comparison-chart {
    margin: 2rem auto;
    padding: 2rem;
}

.comparison-chart table {
    display: block;
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

.comparison-chart table th, .comparison-chart table td {
    margin: 0;
    padding: 0.75rem;
    border: 1px solid grey;
    text-align: center;
}

.comparison-chart table tbody tr:nth-child(odd) {
    background-color: var(--pistachio);
}

.comparison-chart table caption {
    caption-side: bottom;
    font-size: 0.9rem;
    padding: 1rem;
}

/* reservations */

#reservations {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    padding: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 3rem;
}

#reservations h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#reservations .text-block {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#reservations form {
    background-color: var(--pistachio);
    padding: 1.5rem;
    border-radius: 0.25rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#reservations form label, form p {
    font-size: 0.85rem;
}

#reservations form input[type="text"], input[type="email"], input[type="tel"] {
    width: 15rem;
}

#reservations textarea {
    width: 100%;
    min-height: 6rem;
    min-width: 15rem;
}

#reservations form div {
    margin-top: 1.25rem;
}

#reservations form .button {
    width: 12rem;
    margin: 2rem auto;
    margin-bottom: 0;
}

.required::after {
    content: "*";
    color: rgb(243, 121, 121);
}