body {
    background-color: rgb(244, 235, 218);
    width: auto;
}

img {
    width: 800px;
    max-width: 100%;
}

/* FONT SELECTIONS */

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}

h4 {
    font-family: 'Lora' serif;
    text-transform: uppercase;
    font-weight: 500;
}

p {
    font-family: 'Lora', serif;
}

#heading-sample {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
}

#para-sample {
    font-family: 'Lora', serif;
}

#color-scheme p {
    font-weight: 500;
}

/* STRUCTURING & STYLING THE COLOR SCHEME SECTION */

#color-scheme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color-card {
    background-color: white;
    border-style: none;

    padding: 15px;
    margin: 15px;
    width: 150px;
    height: 150px;
}

.color-swatch {
    width: 150px;
    height: 115px;
}

#color_one {
    background-color: #323d4f;
}

#color_two {
    background-color: #566d7c;
}

#color_three {
    background-color: #9eb4a7;
}

#color_four {
    background-color: #d3b4a2;
}

#color_five {
    background-color: #fff4cd;
}

.color-card p {
    text-align: center;
    text-transform: uppercase;
}

/* Structuring and styling the typography section */

#typography_light {
    background-color: #D3B4A2;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#typography_dark {
    background-color: #566d76;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}