
html {
    line-height: 1.25; 
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

/*
Render the `main` element consistently in IE.
*/

main {
    display: block;
}

/*
Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}


img {
    border-style: none;
}
  