@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* 826251 raw umber */

body {
    width: 100vw;
    padding: 0.5rem;
    font-family: 'Lora', serif;
    background-color: #ffe8d1;
}

main {
    max-width: 2000px;
    padding: 50px;
    margin: auto;
    margin-bottom: 40px;
    color: #343434;
    text-align: center;
    display: grid;
    gap: 30px;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: auto 600px auto;
    align-content: center;
}

header, nav {
    background-color: #5d663b;
    text-align: center;
    display: block;
    margin: -20px;
    padding: 50px;
    color: #ffe8d1;
}

h1 {
    font-size: 1.8em;
}

img {
    width: 125px;
}

nav a {
    color: #ffe8d1;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px;
}

nav a:hover {
    color: #f2bba4;
}

main hr {
    background-color: #CE5953;
    height: 1px;
    width: 1000px;
    border: none;
}

h2 {
    grid-row: 1;
    grid-column: 1 / 4;
    font-size: 1.3em;
}

.card {
    border: #343434;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    grid-column: 2/3;
    /* margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 800px; */
}

.card h3 {
    font-size: 1.1em;
    background-color: #f2bba4;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    border-radius: 4px;
}

.card a {
    color: #826251;
    text-decoration: none;
    margin-top: 0px;
}

.card a:hover {
    color: #CE5953;
}

.card a:visited {
    color: #826251;
    text-decoration: none;
}

.card a:visited:hover {
    color: #CE5953;
}

ul {
    list-style: none;
    line-height: 2em;
}

footer {
    background-color: #97443b;
    color: #ffe8d1;
    width: 100vw;
    margin: -20px;
    text-align: center;
    padding: 10px;
    display: block;
}